input , label{
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
}
form{
    width: 280px;
    padding: 20px;
    margin: 10% 0;
    border-radius: 10px;
    border: 1px solid gray;
    /* box-shadow: 3px 4px 16px 4px grey; */
}
.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
