<h1 class="title">API Integration</h1>

<div class="formDiv">
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label>Enter Name</label>
      <input type="text" formControlName="name" required="">
      <label>Enter Place</label>
      <input type="text" formControlName="place" required="">
      <button [disabled]="form.invalid">Submit</button>
    </form>
  </div>

  <div class="table">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Place</th>
          <th style="position:relative ; left: 33px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of getData">
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.place}}</td>
          <td><button class="action" (click)="deleteItem(data.id)">Delete</button></td>
          <td><button class="action" (click)="editItem(data)">Edit</button></td>
          <td><button  class="action" *ngIf="formValid" (click)="updateItem(data)">Update</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


